<h2>Ajouter une recette</h2>
<%= simple_form_for @recipe do |f| %>
 <%= f.input :title %>
 <%= f.input :description %>
 <%= f.input :number_persons %>
 <%= f.input :difficulty, collection: ["facile", "moyen", "difficile"] %>
 <%= f.input :cost, collection: ["éco", "moyen", "cher"] %>
 <%= f.text_area :preparation %>
 <%= f.input :total_time, as: :time %>
 <%= f.input :season, collection: ["printemps", "été", "automne", "hiver"] %>
 <%= f.input :ustensils %>
 <%= f.submit "Ajouter la recette", class: "btn btn-primary" %>
<% end %>
