<div class="container">
  <h2 class="title-single-recipe mt-4 mb-5">Ajouter une recette</h2>
  <%= simple_form_for @recipe do |f| %>
   <%= f.input :title, label: 'Titre', placeholder: 'Ex : Tacos de Pollo Pibil', error: 'Un titre est obligatoire, veuillez en rédiger un' %>
   <%= f.input :description, placeholder: 'Ex : Blancs de volaille marinés à la sauce pibil...', error: 'Une description est obligatoire, veuillez en rédiger une' %>
   <%= f.input :kitchen_type, label: 'Catégorie ou type de cuisine', placeholder: 'Mexicain', collection: ["Halal", "Petit déjeuner", "Végétarien", "Mexicain", "Dessert", "Indien", "Grec", "Japonais", "Chinois", "Cambodgien", "Vietnamien", "Thaïlandais", "Asiatique", "Libanais", "Américain", "Italien", "Français", "Healthy"] %>
   <%= f.input :difficulty, label: 'Difficulté', collection: ["Facile", "Moyen", "Difficile"] %>
   <%= f.input :cost, label: 'Coût', collection: ["€", "€€", "€€€"] %>
   <%= f.input :preparation, label: 'Étapes de préparation', as: :summernote %>
   <%= f.input :total_time, label: 'Temps total de préparation', as: :time %>
   <%= f.input :season, label: 'Saison', collection: ["Printemps", "Été", "Automne", "Hiver"] %>
   <%= f.input :ustensils, label: 'Ustensiles' %>
   <div class="custom-file">
     <%= f.input :photos, as: :file, label: 'Sélectionner des fichiers', class:'custom-file-input', id:'customFile', input_html: { multiple: true } %>
   </div>
   <%= f.submit "Ajouter la recette", class: "btn btn-primary button-add-recipe" %>
  <% end %>
</div>
