<div class="container">
  <h2>Ajouter une recette</h2>
  <%= simple_form_for @recipe do |f| %>
   <%= f.input :title, label: 'Titre', placeholder: 'Ex : Tacos de Pollo Pibil', error: 'Un titre est obligatoire, veuillez en rédiger un' %>
   <%= f.input :description, placeholder: 'Ex : Blancs de volaille marinés à la sauce pibil...', error: 'Une description est obligatoire, veuillez en rédiger une' %>
   <%= f.input :kitchen_type, label: 'Catégorie ou type de cuisine', placeholder: 'Mexicain', collection: ["Halal", "Petit déjeuner", "Végétarien", "Mexicain", "Dessert", "Indien", "Grec", "Japonais", "Chinois", "Cambodgien", "Vietnamien", "Thaïlandais", "Asiatique", "Libanais", "Américain", "Italien", "Français", "Healthy"] %>
   <%= f.input :difficulty, label: 'Difficulté', collection: ["Facile", "Moyen", "Difficile"] %>
   <%= f.input :cost, label:'Coût', collection: ["€", "€€", "€€€"] %>
   <%= f.input :preparation, as: :text %>
   <%= f.input :total_time, as: :time %>
   <%= f.input :season, collection: ["printemps", "été", "automne", "hiver"] %>
   <%= f.input :ustensils %>
   <%= f.input :photos, as: :file, input_html: { multiple: true } %>
   <%= f.submit "Ajouter la recette", class: "btn btn-primary" %>
  <% end %>
</div>
