<%= render 'shared/carousel-show' %>
<div class="container">
  <div class="layout-single">
    <div class="top-single">
      <p class="single-kitchen"><%= @recipe.kitchen_type %></p>
      <h4><%= @recipe.title %></h4>
    </div>
    <div class="facts-single">
      <div class="left-side">
        <div class="time">
          <i class="far fa-clock"></i>
          <p>Publié le <%= l(@recipe.created_at.utc, format: '%B %d, %Y') %></p>
        </div>
        <div class="author">
          <i class="far fa-user"></i>
          <p>par <%= User.find(@recipe.user_id).surnom %></p>
        </div>
      </div>
      <div class="right-side">
        <div class="parent-likes">
          <div class="number-likes">
            <%= pluralize @recipe.likes.size, "like" %>
          </div>
          <% pre_like = @recipe.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <div class="like-heart">
              <i class="far fa-heart"></i>
              <%= button_to 'Unlike me', recipe_like_path(@recipe, pre_like), method: :delete, class: 'btn unlike-button' %>
            </div>
          <% else %>
            <div class="unlike-heart">
              <i class="fas fa-heart"></i>
              <%= button_to 'Like me', recipe_likes_path(@recipe), method: :post, class: 'btn like-button' %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
    <div class="description">
      <p><%= @recipe.description %></p>
    </div>
    <div class="characteristics-single">
      <div class="total_time-single">
        <i class="fas fa-stopwatch fa-2x"></i>
        <div class="lines">
          <h3>Temps total</h3>
          <p><%= @recipe.total_time.utc.strftime("%Hh%M") %></p>
        </div>
      </div>
      <div class="difficulty-single">
        <i class="far fa-lightbulb fa-2x"></i>
        <div class="lines">
          <h3>Difficulté</h3>
          <p><%= @recipe.difficulty %></p>
        </div>
      </div>
      <div class="season-single">
        <i class="far fa-snowflake fa-2x"></i>
        <div class="lines">
          <h3>Saison</h3>
          <p><%= @recipe.season %></p>
        </div>
      </div>
      <div class="cost-single">
        <i class="fas fa-euro-sign fa-2x"></i>
        <div class="lines">
          <h3>Coût</h3>
          <p><%= @recipe.cost %></p>
        </div>
      </div>
    </div>
    <div class="middle-single">
      <div class="ingredients">
        <div class="top-ingredients">
          <i class="fas fa-list fa-2x"></i>
          <h3>Ingrédients</h3>
        </div>
        <div class="bottom-ingredients mt-5">
          <% if @recipe.ingredients.empty? %>
            <p>Vous n’avez pas encore ajouté d’ingrédient à votre recette.</p>
            <%= link_to "Ajouter des ingrédients", new_recipe_dose_path(@recipe), class: 'btn btn-primary mt-5', data: { toggle: 'modal', target: '#modalDoses' } %>
          <% else %>
            <% @recipe.doses.each do |d| %>
              <p d-id="<%= d.id %>"><%= Ingredient.find(id=d.ingredient_id).name %> - <%= d.description %> <%= link_to "Supprimer", recipe_dose_path(d), method: :delete, data: { confirm: "Are you sure?" }, remote: true %> <%= link_to "Modifier", edit_recipe_dose_path(d), data: { toggle: 'modal', target: '#modalDoses' } %></p>
            <% end %>
            <p><%= link_to "Ajouter des ingrédients", new_recipe_dose_path(@recipe), class: 'btn btn-primary mt-5', data: { toggle: 'modal', target: '#modalDoses' } %></p>
          <% end %>
        </div>
      </div>
      <div class="utensils">
        <div class="top-utensils">
          <i class="fas fa-utensils fa-2x"></i>
          <h3>Ustensiles</h3>
        </div>
        <div class="bottom-utensils mt-5">
          <p><%= @recipe.ustensils %></p>
        </div>
      </div>
    </div>
    <div class="bottom-single">
      <%= render 'shared/preparations' %>
    </div>
    <div class="bottom-admin">
      <div class="delete-recipe">
        <% if policy(@recipe).destroy? %>
          <button id="sweet-alert-destroy-recipe" class="btn btn-primary">Supprimer votre recette</button>
          <%= link_to "", recipe_path(@recipe), method: :delete, id: "delete-link", class: "hidden" %>
        <% end %>
      </div>
      <div class="edit-recipe">
        <% if policy(@recipe).edit? %>
          <%= link_to "Modifier la recette", edit_recipe_path(@recipe), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal-doses' %>
