<h2><%= @recipe.title %></h2>
<p><%= @recipe.description %></p>
<p><%= @recipe.number_persons %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cost %></p>
<p><%= @recipe.preparation %></p>
<p><%= @recipe.total_time %></p>
<p><%= @recipe.season %></p>
<p><%= @recipe.ustensils %></p>
