<div class="list-recipes">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <%= link_to recipe_path(recipe) do %>
        <%= cl_image_tag recipe.photos.first.key, height: 272, width: 370, crop: :fill, class: 'card-img-top' %>
        <div class="card-body">
          <div class="card-top">
            <p class="kitchen-type-card"><%= recipe.kitchen_type %></p>
            <h3 class="card-text"><%= recipe.title %></h3>
            <p class="season-card"><%= recipe.season %></p>
            <p class="description-card"><%= recipe.description %></p>
          </div>
          <div class="card-bottom">
            <div class="time">
              <i class="far fa-clock"></i>
              <p class="time"><%= recipe.total_time.utc.strftime("%Hh%Mmin") %></p>
            </div>
            <div class="author">
              <i class="far fa-user"></i>
              <p class="user-author">par <%= User.find(recipe.user_id).surnom %></p>
            </div>
            <div class="likes">
              <i class="far fa-heart"></i>
              <p><%= recipe.likes.count %> <%= (recipe.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
