 <div class="container">
  <div id="carouselExampleCaptions" class="mt-4 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @recipes.each_with_index do |recipe, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag recipe.photos.first.key, height: 518, width: 1110, crop: :fill, class: "d-block w-100 thumbnail-hp" %>
          <div class="carousel-caption carousel-home caption-recetas d-none d-md-block">
            <p class="home-kitchen"><%= recipe.kitchen_type %></p>
            <h2 class="home-title"><%= recipe.title %></h2>
            <p class="home-description"><%= recipe.description %></p>
            <%= link_to "Voir la recette", recipe_path(recipe), class: "btn btn-primary"  %>
          </div>
          <div class="likes-block">
            <p>Top recette</p>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%= render 'shared/cards-hp' %>
</div>
