<div class="banner" style="background-image: url(https://source.unsplash.com/08bOYnH_r_E);">
</div>
<div class="container">
  <div class="layout-profile">
    <div class="profile-infos">
      <div class="left-infos">
        <div class="author-infos">
          <div class="profile-image">
            <% if @user.avatar.attached? %>
              <%= cl_image_tag @user.avatar.key, height: 150, width: 150, crop: :thumb, gravity: :face, class: 'photo-user' %>
            <% else %>
              <%= image_tag gravatar_image_url(current_user.email, size: 150), height: 150, width: 150, class: "rounded-circle" %>
          <% end %>
          </div>
          <div class="names">
            <h2><%= @user.prenom %> <%= @user.nom %></h2>
            <p><%= @user.batch_name %></p>
          </div>
        </div>
      </div>
      <div class="right-infos">
        <div class="recettes-bubble">
          <div class="bubble">
            <p><%= @user.recipes.count %></p>
          </div>
          <div class="word">
            <% word = "recette" %>
            <% if @user.recipes.count > 1 %>
              <p><%= word.pluralize %></p>
            <% else %>
              <p><%= word %></p>
            <% end %>
          </div>
        </div>
        <div class="likes-bubble">
          <div class="bubble">
            <p><%= @user.likes.count %></p>
          </div>
          <div class="word">
            <% word = "like" %>
            <% if @user.recipes.count > 1 %>
              <p><%= word.pluralize %></p>
            <% else %>
              <p><%= word %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-likes mt-5">
      <h3>Mes likes</h3>
      <%= render 'shared/cards-profile-likes' %>
    </div>
    <div class="profile-recipes mt-5">
      <h3>Mes recettes</h3>
      <%= render 'shared/cards-profile-recipes' %>
    </div>
  </div>
</div>
<%= render 'shared/modal-add-photo' %>
