<div class="banner" style="background-image: url(https://source.unsplash.com/08bOYnH_r_E);">
</div>
<div class="container">
  <div class="layout-profile">
    <div class="profile-infos">
      <div class="left-infos">
        <div class="author-infos">
          <div class="profile-image">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, height: 300, width: 300, crop: :thumb, gravity: :face, class: 'photo-user' %>
            <% else %>
              <%= cl_image_tag("unknown_lzdnzr", width: 150, height: 150, crop: :fill, class: 'unknown-user') %>
          <% end %>
            <div class="add-photo">
              <i class="fas fa-camera"></i>
              <p>Ajouter une photo</p>
            </div>
          </div>
          <div class="names">
            <h2><%= @user.prenom %> <%= @user.nom %></h2>
            <p><%= @user.surnom %></p>
          </div>
        </div>
      </div>
      <div class="right-infos">
        <div class="recettes-bubble">
          <div class="bubble">
            <p><%= @user.recipes.count %></p>
          </div>
          <div class="word">
            <% word = "recette" %>
            <% if @user.recipes.count > 1 %>
              <p><%= word.pluralize %></p>
            <% else %>
              <p><%= word %></p>
            <% end %>
          </div>
        </div>
        <div class="likes-bubble">
          <div class="bubble">
            <p><%= @user.likes.count %></p>
          </div>
          <div class="word">
            <% word = "like" %>
            <% if @user.recipes.count > 1 %>
              <p><%= word.pluralize %></p>
            <% else %>
              <p><%= word %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-likes mt-5">
      <h3>Mes likes</h3>
      <%= render 'shared/cards-profile-likes' %>
    </div>
    <div class="profile-recipes mt-5">
      <h3>Mes recettes</h3>
      <%= render 'shared/cards-profile-recipes' %>
    </div>
  </div>
</div>
